body {
    background-color: #1B4D3E
}


.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: rgb(221, 221, 25)
}

.red-o {
    color: #fff
}

.thin {
    font-weight: 300;
}

.text-white-custom {
    color: #fff;
}

.dark-bg {
    background-color: #445261;
}

.main-bg {
    background-color: #fff
}

.card {
    border: none;
    background-color: transparent;
}

.card-text {
    color: #dbd6d6;
}

.card-title {
    color: 	#FFFF33;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;

}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: #fff;
    margin: 4px;
    text-transform: uppercase;
    font-size: small;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}


.recipe-link {
    text-decoration: none;
    color: #fff
}

.recipe-link:hover,
.page-link {
    color: #FFC72C;
}

.recipe-title {
    margin-top: 10%;
    margin-left: 5%;
}

.recipe-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup,
.btn-edit {
    background-color: #188181;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #188181;
    color: #fff;
}

.link {
    color: #FFFF33;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #fff;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #fff;
    background: #E84610;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

.navbar .nav-link,
.navbar .navbar-brand {
    color: #fff 
}

form label {
    color: #fff !important;
    display: block;
    margin-bottom: 5px;
}

form input, 
form textarea, 
form select {
    border-radius: 8px;
    padding: 10px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn {
    background-color: #FFFF33 !important;  /* Custom button color */
    color: black !important;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 10px;
}

h2 {
    color: #fff;
}

.author {
    font-size: 0.9rem;  
    color: #6c757d;  
    margin-top: 10px;  
}